.addtracker {
    background: var(--background-gradient), var(--background-image) no-repeat center center / cover;
    background-attachment: fixed;
    width: var(--content-width);
    height: var(--content-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

label {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 8vw;
    margin: 20px;
}

input {
    display: inline-block;
    text-align: left;
    padding: 5px;
    width: 20vw;

}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

button {
    padding: 10px 15px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-top: 30px;

}

button:hover {
    background-color: var(--primary-color);
    color: black;
    transition: background-color 0.3s ease;
}