body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  background: var(--background-gradient), var(--background-image) no-repeat center center / cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: var(--content-width);
  float: left;
  height: var(--content-height);
}

.map-container {
  width: calc(var(--content-width)-20vw);
  height: 55vh;
  margin: 20px 40px 20px 40px;
  background-color: #a6f699;
  border-radius: 5vh;
  /* border: 1px solid black;  */
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.4);
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(30vh - 40px);
  padding-top: 15px;
}
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #EFE9D5;
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  flex-direction: column; 
}

.circle span {
  font-size: medium; 
}

.circle .value {
  font-size: 40px;
  text-shadow: 1px 1px 3px black;
  /* font-weight: bold;  */
}

.toggle-alarm-button {
  color: black;
  margin-top: 0px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #FF5733;  /* A vibrant color */
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  flex-direction: column; 
}

.toggle-alarm-button:hover {
  background-color: #C70039;
  transform: scale(1.05);
}

.toggle-alarm-button:active {
  transform: scale(0.98);
}

.fainfo {
  position: absolute;
  bottom:110px;
  left:120px;
  border-radius: 50%; 
  padding: 5px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  background-color: rgba(255, 255, 255, 0.508) ;
}

.fawrench {
  position: absolute;
  top:110px;
  left:120px;
  border-radius: 50%; 
  padding: 5px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  background-color: rgba(255, 255, 255, 0.508) ;
}

.fabell {
  font-size: 60px;
}

/* Sizing of map container */
.leaflet-container {
  width: calc(var(--content-width)-20vw);
  height: 55vh;
}