.home {
  background: var(--background-gradient), var(--background-image) no-repeat center center / cover;
    background-attachment: fixed;
    width: var(--content-width);
    height: var(--content-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}